node_modules
npm-debug.log
.git
.gitignore
.githooks
.github
.env
.env.*
!.env.example
.DS_Store
*.log
.vscode
.idea
mg3bkp.zip
public_html
Dockerfile
.dockerignore
README.md
scripts
ecosystem.config.js
