# Server
PORT=3000
NODE_ENV=development

# Email (Nodemailer - SMTP)
SMTP_HOST=smtp.tuproveedor.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=hola@mecanicag3.com
SMTP_PASS=tu_contraseña_smtp
EMAIL_TO=hola@mecanicag3.com
EMAIL_FROM_NAME=Formulario WEB

# reCAPTCHA v2
RECAPTCHA_SECRET=tu_recaptcha_secret_key

# MailChimp
MAILCHIMP_API_KEY=tu_mailchimp_api_key
MAILCHIMP_LIST_ID=tu_mailchimp_list_id
